---
// src/pages/[test]/[teststep2]/[singleview].astro

import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const products = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((response) => response.json());

  return products.map((product) => {
    return {
      params: {
        test: product.subcategory_slug,
        teststep2: product.item_slug,
        singleview: product.slug,
      },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---

<MainLayout>
  <h1>{product.title}</h1>
  <img src={product.image} alt={product.title} />
  <div class="price">{product.price} DKK</div>
  <div class="stock">{product.in_stock ? "In Stock" : "Out of Stock"}</div>
  <div class="description">{product.description}</div>
</MainLayout>
