---
// src/pages/[subcategories].astro

// getStaticPaths video af Jonas

import SubItem from "../components/SubItem.astro";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  //fetching subcategory data
  const data = await fetch(
    `https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories?order=id.asc`,
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((res) => res.json());

  return data.map((subName) => ({
    params: { subcategories: subName.slug },
    props: { subName },
  }));
}
const { subName } = Astro.props;

const items = await fetch(
  `https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items?order=id.asc`,
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());

// console.log(subName)
---

<MainLayout>
  <div class="header-info">
    <h1>{subName.name}</h1>
    <p>{subName.about}</p>
  </div>

  <section class="items">
    {
      items
        .filter((item) => item.subcategory_id === subName.id)
        .map((item) => {
          return (
            <div class="items-link">
              <a href={`/${subName.slug}/${item.slug}`}>
                <SubItem item={item} />
                <p>til {item.subcategory_text}</p>
              </a>
            </div>
          );
        })
    }
  </section>
</MainLayout>

<style>
  h1,
  p,
  section {
    text-align: center;
    max-width: 1040px;
    margin: auto;
  }

  .header-info {
    max-width: 44rem;
    margin: auto;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
    max-width: 1040px;
    margin: auto;
  }

  .items-link a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s;
  }

  .items-link:hover a:hover {
    color: var(--accent-color);
    transition: 0.2s;
  }

  .items-link:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
</style>
