---
// src/pages/[test].astro

// getStaticPaths video af Jonas

import SubItem from "../components/SubItem.astro";
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/subcategories",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((res) => res.json());

  return data.map((subName) => {
    return {
      params: { test: subName.slug },
      props: { subName },
    };
  });
}

const items = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());

const { subName } = Astro.props;
// console.log(subName)
---

<MainLayout>
  <h1>{subName.name}</h1>
  <section class="items">
    {
      items
        .filter((item) => item.subcategory_id === subName.id)
        .map((item) => {
          return (
            <div>
              <a href={`${subName.slug}/${item.slug}`}>
                <SubItem item={item} />
                {item.name}
              </a>
            </div>
          );
        })}
  </section>
</MainLayout>
