---
const { data, currentSub, currentItem} = Astro.props;
console.log(data);
---

<a href={`/${currentSub}/${currentItem}/${data.slug}`}>
  <section class="card">
    <figure class="image-container">
      <img src={data.image} alt="Not Showing" />
    </figure>
    <h3>{data.title}</h3>
    <p>{data.price} DKK</p>
    <div class="priceContainer"></div>
  </section>
</a>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    place-self: start;
  }
  h3{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
  }
  a{
    text-decoration: none;
    color: var(--secondary-color);
  }
  .image-container{
    display: grid;
    grid-template-columns: 1em;
  }
  img {
    width: 400px;
    place-self: stretch;
    object-fit: contain;
    grid-row: 1/2;
    grid-column: 1/4;
  }
  input {
    border: none;
    color: var(--primary-color);
    background-color: var(--accent-color);
    padding: 1em 1.5em 1em 1.5em;
    font-size: 1rem;
  }
</style>
