---
const { data } = Astro.props;

const items = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<a href=`/${data.slug}`>{data.name}</a>
<ul class="items">
  {
    items
      .filter((item) => item.subcategory_id === data.id)
      .map((item) => (
        <li>
          <a href={`/${data.slug}/${item.slug}`}>{item.slug}</a>
        </li>
      ))
  }
</ul>

<style>
  /******** STYLING SUBCATEGORIES *********/

  a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    background-color: var(--hover-color);
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 1rem;

    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
  }

  a:hover {
    background-color: var(--secondary-accent);
  }

  /****** STYLING SUB-SUBCATEGORIES (ITEMS) */

  li {
    list-style: none;
    position: relative;
    left: 150%;
    color: var(--primary-color);
  }

  ul {
    position: absolute;

    display: none;
  }

  ul li:hover > ul {
    display: inherit;
  }
</style>
