---
const { data } = Astro.props;

const items = await fetch(
  "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());
---

<a href=`/${data.slug}` class="subcategory">{data.name}</a>
<ul class="items">
  {
    items
      .filter((item) => item.subcategory_id === data.id)
      .map((item) => (
        <li>
          <a href={`/${data.slug}/${item.slug}`}>{item.name}</a>
        </li>
      ))
  }
</ul>

<style>
  /******** STYLING SUBCATEGORIES *********/

  .subcategory, a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    background-color: var(--hover-color);
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 1rem;

    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
  }

  .subcategory:hover, a:hover {
    background-color: var(--secondary-accent);
  }

  /****** STYLING SUB-SUBCATEGORIES (ITEMS) */

  .items {
    list-style: none;
    position: absolute; 
    left: 100%; 
    z-index: 2;
    top: -1px;
    display: none;
    width: 100%;
  }

  .items li {
    border-right: 1px solid black;
    border-left: 1px solid black;

    border-bottom: 1px solid black;

  }
  .items li:first-child {
    border-top: 1px solid black;
  }

  /* the plus means that when a.subcategory is being hovered, it's adjacent sibling, which is div.item, will also inherit the display */
  .subcategory:hover + .items {
    display: inherit;
  }

  .items:hover{
    display: block;
  }



  /****** hierarkin på denna är ul.items > li > a */
</style>
