---
import GemProdukt from "./GemProdukt.astro";

const { data, subcategory } = Astro.props;
// just testing adding the subcategory, not really workig yet
---

<a href={`${subcategory}/${data.slug}`}>
  <article class="productlist">
    <div class="img-container">
      <img src={data.image} alt="text" />
      <GemProdukt class="gem" />

      <div class="text-container">
        <h3>{data.title}</h3>
        <div class="origin">{data.country_origin}</div>
        <div class="price">{data.price},00 DKK</div>
        <div class="stock">{data.in_stock}</div>
        <div class="buy">Tilføj kurv</div>
      </div>
    </div>
  </article>

  <style>
    .productlist {
      width: 100%;
      max-width: 320px;
      min-width: 172px;
      aspect-ratio: 2/1;
    }

    .img-container {
      display: grid;
    }
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      grid-column: 1;
      grid-row: 1;
    }
    .gem {
      grid-column: 1;
      grid-row: 1;

    }

    a {
      text-decoration: none;
      color: var(--secondary-color);
      border: black solid 1px;
      font-family: var(--font-family-secondary);
      font-size: calc(14px + 0.390625vw);
      font-weight: var(--font-weight-light);
    }

    .text-container {
      padding: 1rem 1.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h3 {
      grid-column: 1/-1;
      padding: 1rem 0 4rem;
    }

    .origin,
    .price {
      padding: 0 0 2rem;
    }

    .buy {
      background-color: var(--secondary-accent);
      padding: 1em;
      width: fit-content;
      color: var(--primary-color);
    }
  </style>
</a>
