---
// src/pages/[subcategories]/[items].astro

// build a product list for the selected items, with a dynamic path

import ItemList from "../../components/ItemList.astro";
import Sidenavigation from "../../components/Sidenavigation.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  // fetching datan som ska ge produkt-URLn
  const items = await fetch(
    "https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/items?order=id.asc",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
      },
    }
  ).then((response) => response.json());

  return items.map((item) => ({
    params: {
      subcategories: item.subcategory_name,
      items: item.slug,
    },
    props: { item },
  }));
}

const { item } = Astro.props;

const products = await fetch(
  `https://thryhwcrvlzlnuucxhqk.supabase.co/rest/v1/products?order=id.asc`,
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRocnlod2Nydmx6bG51dWN4aHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMTIxNzUsImV4cCI6MjAzMTc4ODE3NX0.qe83qKHMa9-0Tc3HFWEqgvYa_LKMiI267dutJ7DxWs0",
    },
  }
).then((res) => res.json());

// console.log(products);
---

<MainLayout headliner=`${item.name} til ${item.subcategory_text}`>
  <div class="text-container">
    <h1>{item.name} til {item.subcategory_text}</h1>
    <p>{item.description}</p>
  </div>
  <section class="products">
    {
      products
        .filter((product) => product.item_id === item.id && product.in_stock)
        .map((product) => {
          return (
            <a href={`/${item.subcategory_name}/${item.slug}/${product.slug}`}>
              <ItemList product={product} />
            </a>
          );
        })
    }
  </section>
  <div class="pagenav">
    <Sidenavigation />
  </div>
</MainLayout>

<style>
  .text-container {
    display: grid;
    text-align: center;
  }

  .products {
    width: 100%;
    max-width: 1040px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;

    margin: auto;
    padding: 5rem 0;
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-family-secondary);
    font-size: calc(14px + 0.390625vw);
    font-weight: var(--font-weight-light);
  }

  .pagenav {
    display: grid;
    justify-content: center;
    padding: 0 0 5rem;
  }
</style>
